
The **AppStore Service** provides access to *Product / Pricing / Promotion* features, as well as integrations with supported AppStores.

*This service replaces the deprecated* **Product Service** *for purchases and product / pricing data. Currency operations have been moved to the new* <a href="#" onclick='window.navigateToTarget("#capi-virtualcurrency");'>VirtualCurrency Service</a>.

It includes APIs for:

* Handling In-app Purchases (IAP)
* Querying Products and Promotions
